@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Helvetica", "Arial", sans-serif;
}

.font-antonio {
  font-family: "Antonio", sans-serif;
}

/* Custom scrollbar for a better look */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1f2937;
}
::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}
